<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="editor_holder">

</div>
<a ng-click="update()" class="btn btn-warning">
    <span class="glyphicon glyphicon-pencil"></span>
    Submit
</a>
</body>

<script src="../../../../../js/jsoneditor.js"></script>
<script srs="course.schema.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</html>