<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>-->
        <!--Editor-->
    <!--</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Editor</h1>-->

<div class="container">
    <h2>Courses
        <a ng-click="model.addCourse()" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
        <!--<a ng-hide="model.editingCourses || model.courses.length < 1" class="btn btn-xs btn-warning" ng-click="model.editingCourses = true"><span class="glyphicon glyphicon-pencil"></span></a>-->
        <!--<a ng-show="model.editingCourses && model.courses.length > 0" class="btn btn-xs btn-success" ng-click="model.editingCourses = false"><span class="glyphicon glyphicon-ok"></span></a>-->
    </h2>
    <uib-accordion>
        <uib-accordion-group ng-repeat="course in model.courses" is-disabled="true" is-open="course.open">

            <uib-accordion-heading>
                <div ng-hide="course.editing">
                    <a class="right-padding" ng-click="course.open=!course.open">
                        <span ng-hide="course.open" class="glyphicon glyphicon-menu-down"></span>
                        <span ng-show="course.open" class="glyphicon glyphicon-menu-up"></span>
                    </a>
                    {{course.title}}
                    <a ng-hide="course.editing" class="btn btn-xs btn-warning" ng-click="course.editing = true"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-show="course.changed" ng-click = "model.updateCourse(course); course.changed = false" class="btn btn-xs btn-primary" ng-click="course.editing = true"><span class="glyphicon glyphicon glyphicon-floppy-disk
"></span></a>
                    <p ng-show="course.changed" style="color:red"> <strong>Changes have been made, please save.</strong></p>
                </div>
                <input ng-show="course.editing" ng-model="course.title" placeholder="Title">
                <a ng-show="course.editing" class="btn btn-xs btn-success" ng-click="model.updateCourse(course)"><span class="glyphicon glyphicon-ok"></span></a>
                <a ng-click="model.removeCourse(model.courses, $index)" ng-show="course.editing" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>



            </uib-accordion-heading>

            <h4>Overview</h4>
            <div ng-change="course.changed = true" text-angular ng-model="course.overview" ta-text-editor-class="border-around" ta-html-editor-class="border-around"  class="ta-root"></div>

            <!--<div text-angular ng-model="model.htmlContent" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around" class="ta-root"></div>-->


            <h4>Modules
                <a ng-click="model.addModule(course)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                <!--<a ng-hide="model.editingModules || course.modules.length < 1" class="btn btn-xs btn-warning" ng-click="model.editingModules = true"><span class="glyphicon glyphicon-pencil"></span></a>-->
                <!--<a ng-show="model.editingModules && course.modules.length > 0" class="btn btn-xs btn-success" ng-click="model.editingModules = false"><span class="glyphicon glyphicon-ok"></span></a>-->
            </h4>

            <uib-accordion>
                <uib-accordion-group ng-repeat="module in course.modules" is-disabled="true" is-open="module.open">
                    <uib-accordion-heading>
                        <div ng-hide="module.editing">
                            <a ng-click="module.open=!module.open">
                                <span ng-hide="module.open" class="glyphicon glyphicon-menu-down"></span>
                                <span ng-show="module.open" class="glyphicon glyphicon-menu-up"></span>
                            </a>
                            {{module.title}}
                            <a ng-hide="module.editing" class="btn btn-xs btn-warning" ng-click="module.editing = true"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a ng-show="module.changed" ng-click = "model.updateModule(course._id, course.modules, module); module.changed = false" class="btn btn-xs btn-primary" ng-click="module.editing = true"><span class="glyphicon glyphicon glyphicon-floppy-disk
"></span></a>
                            <p ng-show="module.changed" style="color:red"> <strong>Changes have been made, please save.</strong></p>

                        </div>
                        <input ng-show="module.editing" ng-model="module.title" placeholder="Title">
                        <a ng-show="module.editing" class="btn btn-xs btn-success" ng-click="model.updateModule(course._id, course.modules, module)"><span class="glyphicon glyphicon-ok"></span></a>
                        <a ng-click="model.removeModule(course, module)" ng-show="module.editing" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                    </uib-accordion-heading>
                    <label>Visible</label>
                    <input ng-change = "module.changed = true" type="checkbox" ng-model="module.visible"><br>
                    <label>Available</label>
                    <input ng-change = "module.changed = true" type="checkbox" ng-model="module.available"><br>

                    <h4>Lectures
                        <a ng-click="model.addLecture(module)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                        <a ng-hide="model.editingLectures || module.lectures.length < 1" class="btn btn-xs btn-warning" ng-click="model.editingLectures = true"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a ng-show="model.editingLectures && module.lectures.length > 0" class="btn btn-xs btn-success" ng-click="model.editingLectures = false"><span class="glyphicon glyphicon-ok"></span></a>
                    </h4>
                    <uib-accordion>
                        <uib-accordion-group ng-repeat="lecture in module.lectures" is-disabled="true" is-open="lecture.open">
                            <uib-accordion-heading>
                                <div ng-hide="model.editingLectures">
                                    <a ng-click="lecture.open=!lecture.open">
                                        <span ng-hide="lecture.open" class="glyphicon glyphicon-menu-down"></span>
                                        <span ng-show="lecture.open" class="glyphicon glyphicon-menu-up"></span>
                                    </a>
                                    {{lecture.title}}
                                </div>
                                <input ng-show="model.editingLectures" ng-model="lecture.title" placeholder="Title">
                                <a ng-click="model.removeLecture(module.lectures, $index)" ng-show="model.editingLectures" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                            </uib-accordion-heading>

                            <h4>Overview</h4>
                            <div text-angular ng-model="lecture.overview" ta-text-editor-class="border-around" ta-html-editor-class="border-around"  class="ta-root"></div>
                        </uib-accordion-group>
                    </uib-accordion>


                    <h4>Slides
                        <a ng-click="model.addSlide(module)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                        <a ng-hide="model.editingSlides || module.slides.length < 1" class="btn btn-xs btn-warning" ng-click="model.editingSlides = true"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a ng-show="model.editingSlides && module.slides.length > 0" class="btn btn-xs btn-success" ng-click="model.editingSlides = false"><span class="glyphicon glyphicon-ok"></span></a>
                    </h4>

                    <uib-accordion>
                        <uib-accordion-group ng-repeat="slide in module.slides" is-disabled="true" is-open="slide.open">
                            <uib-accordion-heading>
                                <div ng-hide="model.editingSlides">
                                    <a ng-click="slide.open=!slide.open">
                                        <span ng-hide="slide.open" class="glyphicon glyphicon-menu-down"></span>
                                        <span ng-show="slide.open" class="glyphicon glyphicon-menu-up"></span>
                                    </a>
                                    {{slide.title}}
                                </div>
                                <input ng-show="model.editingSlides" ng-model="slide.title" placeholder="Title">
                                <a ng-click="model.removeSlide(module.slides, $index)" ng-show="model.editingSlides" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                            </uib-accordion-heading>
                            <div class="col-lg-12">
                                <label>Source</label>
                                <input class="form-control" ng-model="slides.src"  placeholder="Source URL">
                            </div>
                            <div class="col-lg-6">
                                <label>Height</label>
                                <input class="form-control" ng-model="slides.height"  placeholder="Height">
                            </div>
                            <div class="col-lg-offset-6"></div>

                            <div class="col-lg-6">
                                <label>Width</label>
                                <input class="form-control" ng-model="slides.width"  placeholder="Width">
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>

                    <h4>Videos
                        <a ng-click = "model.addVideo(module)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                        <a ng-hide="model.editingVideos || module.videos.length < 1" class="btn btn-xs btn-warning" ng-click="model.editingVideos = true"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a ng-show="model.editingVideos && module.videos.length > 0" class="btn btn-xs btn-success" ng-click="model.editingVideos = false"><span class="glyphicon glyphicon-ok"></span></a>
                    </h4>

                    <uib-accordion>
                        <uib-accordion-group ng-repeat="video in module.videos" is-disabled="true" is-open="video.open">
                            <uib-accordion-heading>
                                <div ng-hide="model.editingVideos">
                                    <a ng-click="video.open=!video.open">
                                        <span ng-hide="video.open" class="glyphicon glyphicon-menu-down"></span>
                                        <span ng-show="video.open" class="glyphicon glyphicon-menu-up"></span>
                                    </a>
                                    {{video.title}}
                                </div>
                                <input ng-show="model.editingVideos" ng-model="video.title" placeholder="Title">
                                <a ng-click="model.removeVideo(module.videos, $index)" ng-show="model.editingVideos" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                            </uib-accordion-heading>
                            <div class="col-lg-12">
                                <label>Source</label>
                                <input class="form-control" ng-model="video.src"  placeholder="Source URL">
                            </div>
                            <div class="col-lg-6">
                                <label>Height</label>
                                <input class="form-control" ng-model="video.height"  placeholder="Height">
                            </div>
                            <div class="col-lg-offset-6"></div>

                            <div class="col-lg-6">
                                <label>Width</label>
                                <input class="form-control" ng-model="video.width"  placeholder="Width">
                            </div>




                        </uib-accordion-group>
                    </uib-accordion>

                    <h4>Examples
                        <a ng-click="model.addExample(module)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                        <a ng-hide="model.editingExamples || module.examples.length < 1" class="btn btn-xs btn-warning" ng-click="model.editingExamples = true"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a ng-show="model.editingExamples && module.examples.length > 0" class="btn btn-xs btn-success" ng-click="model.editingExamples = false"><span class="glyphicon glyphicon-ok"></span></a>
                    </h4>

                    <uib-accordion>
                        <uib-accordion-group ng-repeat="example in module.examples" is-disabled="true" is-open="example.open">
                            <uib-accordion-heading>
                                <div ng-hide="model.editingExamples">
                                    <a ng-click="example.open=!example.open">
                                        <span ng-hide="example.open" class="glyphicon glyphicon-menu-down"></span>
                                        <span ng-show="example.open" class="glyphicon glyphicon-menu-up"></span>
                                    </a>
                                    {{example.title}}
                                </div>
                                <input ng-show="model.editingExamples" ng-model="example.title" placeholder="Title">
                                <a ng-click="model.removeExample(module.examples, $index)" ng-show="model.editingExamples" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                            </uib-accordion-heading>
                            <h4>Demos
                                <a ng-click="model.addDemo(example)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                                <a ng-hide="model.editingDemos || example.demos.length < 1" class="btn btn-xs btn-warning" ng-click="model.editingDemos = true"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a ng-show="model.editingDemos && example.demos.length > 0" class="btn btn-xs btn-success" ng-click="model.editingDemos = false"><span class="glyphicon glyphicon-ok"></span></a>
                            </h4>
                            <uib-accordion>
                                <uib-accordion-group ng-repeat="demo in example.demos" is-disabled="true" is-open="demo.open">
                                    <uib-accordion-heading>
                                        <div ng-hide="model.editingDemos">
                                            <a ng-click="demo.open=!demo.open">
                                                <span ng-hide="demo.open" class="glyphicon glyphicon-menu-down"></span>
                                                <span ng-show="demo.open" class="glyphicon glyphicon-menu-up"></span>
                                            </a>
                                            {{demo.title}}
                                        </div>
                                        <input ng-show="model.editingDemos" ng-model="demo.title" placeholder="Title">
                                        <a ng-click="model.removeDemo(example.demos, $index)" ng-show="model.editingDemos" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                                    </uib-accordion-heading>
                                    <label>Base</label>
                                    <input class="form-control" ng-model="demo.base" placeholder="Base URL"><br>
                                    <label>Source</label>
                                    <input class="form-control" ng-model="demo.src"  placeholder="Source URL">
                                    <h4>Dependencies
                                        <a ng-click="model.addDependency(demo)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                                        <a ng-hide="model.editingDependencies || demo.dependencies.length < 1" class="btn btn-xs btn-warning" ng-click="model.editingDependencies = true"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a ng-show="model.editingDependencies && demo.dependencies.length > 0" class="btn btn-xs btn-success" ng-click="model.editingDependencies = false"><span class="glyphicon glyphicon-ok"></span></a>
                                    </h4>

                                    <uib-accordion>
                                        <uib-accordion-group ng-repeat="dependency in demo.dependencies" is-disabled="true" is-open="dependency.open">
                                            <uib-accordion-heading>
                                                <div ng-hide="model.editingDependencies">
                                                    <a ng-click="dependency.open=!dependency.open">
                                                        <span ng-hide="dependency.open" class="glyphicon glyphicon-menu-down"></span>
                                                        <span ng-show="dependency.open" class="glyphicon glyphicon-menu-up"></span>
                                                    </a>
                                                    {{dependency.title}}
                                                </div>
                                                <input ng-show="model.editingDependencies" ng-model="dependency.title" placeholder="Title">
                                                <a ng-click="model.removeDependency(demo.dependencies, $index)" ng-show="model.editingDependencies" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                                            </uib-accordion-heading>
                                            <label>Source</label>
                                            <input class="form-control" ng-model="dependency.src" placeholder="Source URL">
                                        </uib-accordion-group>
                                    </uib-accordion>
                                </uib-accordion-group>
                            </uib-accordion>
                        </uib-accordion-group>
                    </uib-accordion>

                    <h4>Assignments
                        <a ng-click="model.addAssignment(course._id, module)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                        <!--<a ng-hide="model.editingAssignments || module.assignments.length < 1" class="btn btn-xs btn-warning" ng-click="model.editingAssignments = true"><span class="glyphicon glyphicon-pencil"></span></a>-->
                        <!--<a ng-show="model.editingAssignments && module.assignments.length > 0" class="btn btn-xs btn-success" ng-click="model.editingAssignments = false"><span class="glyphicon glyphicon-ok"></span></a>-->
                    </h4>

                    <uib-accordion>
                        <uib-accordion-group ng-repeat="assignment in module.assignments" is-disabled="true" is-open="assignment.open">
                            <uib-accordion-heading>
                                <div ng-hide="assignment.editing">
                                    <a ng-click="assignment.open=!assignment.open">
                                        <span ng-hide="assignment.open" class="glyphicon glyphicon-menu-down"></span>
                                        <span ng-show="assignment.open" class="glyphicon glyphicon-menu-up"></span>
                                    </a>
                                    {{assignment.title}}
                                    <a ng-hide="assignment.editing" class="btn btn-xs btn-warning" ng-click="assignment.editing = true"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a ng-show="assignment.changed && !assignment.editing" ng-click = "assignment.changed = false" class="btn btn-xs btn-primary" ng-click="assignment.editing = true"><span class="glyphicon glyphicon glyphicon-floppy-disk
"></span></a>
                                </div>
                                <input ng-show="assignment.editing" ng-model="assignment.title" placeholder="Title">
                                <a ng-show="assignment.editing" class="btn btn-xs btn-success" ng-click="model.updateAssignment(course._id, module._id, assignment)"><span class="glyphicon glyphicon-ok"></span></a>
                                <a ng-click="model.removeAssignment(course._id, module, assignment)" ng-show="assignment.editing" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                            </uib-accordion-heading>
                            <label>Source</label>
                            <input class="form-control" ng-model="assignment.src" placeholder="URL (Eg. Google Docs, Dropbox, etc.)">
                        </uib-accordion-group>

                    </uib-accordion>


                </uib-accordion-group>
            </uib-accordion>

        </uib-accordion-group>

    </uib-accordion>
    <a ng-click="model.update()" class="btn btn-warning">
        <span class="glyphicon glyphicon-pencil"></span>
        Update
    </a>
</div>

<!--</body>-->

<!--<script src="../../../../../js/jsoneditor.js"></script>-->
<!--<script srs="course.schema.js"></script>-->
<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

<!--</html>-->