<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Admin Tool
    </title>
</head>
<body>
<h1>Admin Tool</h1>
<h2>Courses
    <a ng-click="addCourse()" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
    <a ng-hide="editingCourses" class="btn btn-xs btn-warning" ng-click="editingCourses = true"><span class="glyphicon glyphicon-pencil"></span></a>
    <a ng-show="editingCourses" class="btn btn-xs btn-success" ng-click="editingCourses = false"><span class="glyphicon glyphicon-ok"></span></a>
</h2>
<uib-accordion>
    <uib-accordion-group ng-repeat="course in courses">

        <uib-accordion-heading>
            <div ng-hide="editingCourses">{{course.title}}</div>
            <input ng-show="editingCourses" ng-model="course.title" placeholder="Title">
            <a ng-click="courses.splice($index, 1)" ng-show="editingCourses" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>

        </uib-accordion-heading>
        <h4>Modules
            <a ng-click="addModule(course)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
            <a ng-hide="editingModules" class="btn btn-xs btn-warning" ng-click="editingModules = true"><span class="glyphicon glyphicon-pencil"></span></a>
            <a ng-show="editingModules" class="btn btn-xs btn-success" ng-click="editingModules = false"><span class="glyphicon glyphicon-ok"></span></a>
        </h4>

        <uib-accordion>
            <uib-accordion-group ng-repeat="module in course.modules">
                <uib-accordion-heading>
                    <div ng-hide="editingModules">{{module.title}}</div>
                    <input ng-show="editingModules" ng-model="module.title" placeholder="Title">
                    <a ng-show="editingModules" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                </uib-accordion-heading>
                <label>Visible</label>
                <input type="checkbox" ng-model="module.visible"><br>
                <label>Available</label>
                <input type="checkbox" ng-model="module.available"><br>

                <h4>Lectures
                    <a class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                    <a ng-hide="editingLectures" class="btn btn-xs btn-warning" ng-click="editingLectures = true"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-show="editingLectures" class="btn btn-xs btn-success" ng-click="editingLectures = false"><span class="glyphicon glyphicon-ok"></span></a>
                </h4>
                <uib-accordion>
                    <uib-accordion-group ng-repeat="lecture in module.lectures">
                        <uib-accordion-heading>
                            <div ng-hide="editingLectures">{{lecture.title}}</div>
                            <input ng-show="editingLectures" ng-model="lecture.title" placeholder="Title">
                            <a ng-show="editingLectures" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                        </uib-accordion-heading>
                    </uib-accordion-group>
                </uib-accordion>


                <h4>Slides
                    <a class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                    <a ng-hide="editingSlides" class="btn btn-xs btn-warning" ng-click="editingSlides = true"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-show="editingSlides" class="btn btn-xs btn-success" ng-click="editingSlides = false"><span class="glyphicon glyphicon-ok"></span></a>
                </h4>

                <uib-accordion>
                    <uib-accordion-group ng-repeat="slide in module.slides">
                        <uib-accordion-heading>
                            <div ng-hide="editingSlides">{{slide.title}}</div>
                            <input ng-show="editingSlides" ng-model="slide.title" placeholder="Title">
                            <a ng-show="editingSlides" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                        </uib-accordion-heading>
                        <label>Base</label>
                        <input class="form-control" ng-model="slide.base" placeholder="Base URL"><br>
                        <label>Source</label>
                        <input class="form-control" ng-model="slide.src"  placeholder="Source URL">
                    </uib-accordion-group>
                </uib-accordion>

                <h4>Videos
                    <a class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                    <a ng-hide="editingVideos" class="btn btn-xs btn-warning" ng-click="editingVideos = true"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-show="editingVideos" class="btn btn-xs btn-success" ng-click="editingVideos = false"><span class="glyphicon glyphicon-ok"></span></a>
                </h4>

                <uib-accordion>
                    <uib-accordion-group ng-repeat="video in module.videos">
                        <uib-accordion-heading>
                            <div ng-hide="editingVideos">{{video.title}}</div>
                            <input ng-show="editingVideos" ng-model="video.title" placeholder="Title">
                            <a class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                        </uib-accordion-heading>
                        <label>Base</label>
                        <input class="form-control" ng-model="video.base" placeholder="Base URL"><br>
                        <label>Source</label>
                        <input class="form-control" ng-model="video.src"  placeholder="Source URL">
                    </uib-accordion-group>
                </uib-accordion>

                <h4>Examples
                    <a class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                    <a ng-hide="editingExamples" class="btn btn-xs btn-warning" ng-click="editingExamples = true"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-show="editingExamples" class="btn btn-xs btn-success" ng-click="editingExamples = false"><span class="glyphicon glyphicon-ok"></span></a>
                </h4>

                <uib-accordion>
                    <uib-accordion-group ng-repeat="example in module.examples">
                        <uib-accordion-heading>
                            <div ng-hide="editingExamples">{{example.title}} </div>
                            <input ng-show="editingExamples" ng-model="example.title" placeholder="Title">
                            <a ng-show="editingExamples" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                        </uib-accordion-heading>
                        <h4>Ex
                            <a class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                            <a ng-hide="editingEx" class="btn btn-xs btn-warning" ng-click="editingEx = true"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a ng-show="editingEx" class="btn btn-xs btn-success" ng-click="editingEx = false"><span class="glyphicon glyphicon-ok"></span></a>
                        </h4>
                        <uib-accordion>
                            <uib-accordion-group ng-repeat="e in example.ex">
                                <uib-accordion-heading>
                                    <div ng-hide="editingEx">{{e.title}}</div>
                                    <input ng-show="editingEx" ng-model="e.title" placeholder="Title">
                                    <a ng-show="editingEx" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                                </uib-accordion-heading>
                                <label>Base</label>
                                <input class="form-control" ng-model="e.base" placeholder="Base URL"><br>
                                <label>Source</label>
                                <input class="form-control" ng-model="e.src"  placeholder="Source URL">
                                <h4>Dependencies
                                    <a class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                                    <a ng-hide="editingDependencies" class="btn btn-xs btn-warning" ng-click="editingDependencies = true"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a ng-show="editingDependencies" class="btn btn-xs btn-success" ng-click="editingDependencies = false"><span class="glyphicon glyphicon-ok"></span></a>
                                </h4>

                                <uib-accordion>
                                    <uib-accordion-group ng-repeat="dependency in e.dependencies">
                                        <uib-accordion-heading>
                                            <div ng-hide="editingDependencies">{{dependency.title}}</div>
                                            <input ng-show="editingDependencies" ng-model="dependency.title" placeholder="Title">
                                            <a ng-show="editingDependencies" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                                        </uib-accordion-heading>
                                        <label>Source</label>
                                        <input class="form-control" ng-model="dependency.src" placeholder="Source URL">
                                    </uib-accordion-group>
                                </uib-accordion>
                            </uib-accordion-group>
                        </uib-accordion>
                    </uib-accordion-group>
                </uib-accordion>

                <h4>Assignments
                    <a class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                    <a ng-hide="editingAssignments" class="btn btn-xs btn-warning" ng-click="editingAssignments = true"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a ng-show="editingAssignments" class="btn btn-xs btn-success" ng-click="editingAssignments = false"><span class="glyphicon glyphicon-ok"></span></a>
                </h4>

                <uib-accordion>
                    <uib-accordion-group ng-repeat="assignment in module.assignments">
                        <uib-accordion-heading>
                            <div ng-hide="editingAssignments">{{assignment.title}}</div>
                            <input ng-show="editingAssignments" ng-model="assignment.title" placeholder="Title">
                            <a ng-show="editingAssignments" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                        </uib-accordion-heading>
                    </uib-accordion-group>

                </uib-accordion>


            </uib-accordion-group>
        </uib-accordion>

    </uib-accordion-group>

</uib-accordion>
<a ng-click="update()" class="btn btn-warning">
    <span class="glyphicon glyphicon-pencil"></span>
    Update
</a>
</body>

<script src="../../../../../js/jsoneditor.js"></script>
<script srs="course.schema.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</html>