<div class="jumbotron" style="height: 100%">
    <h1 align="center" class="page-header animated infinite pulse">Welcome To <b>Course Catalog</b>!</h1>

    <h4 align="center">Faculty · Students · Courses</h4>

    <br/><br/>

    <div align="center">
        <p>
            This course catalog aims to bring the latest and best courses around the world to the students. It has all the
            necessary content required for students to thrive in their pursuit for knowledge, guided by the most insightful
            instructors from over the globe.
        </p>
        <br/>
        <p>
            The idea revolves around working with leading universities and other organizations to make some of their courses
            available online, offering courses in subjects, such as: physics, engineering, humanities, medicine, biology,
            social sciences, mathematics, business, computer science, digital marketing, data science, and other subjects.
        </p>
        <br/>
        <a class="btn btn-primary btn-lg" href="#/course"><i class="fa fa-graduation-cap fa-lg"></i> Explore Courses</a>
    </div>
</div>