<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="#/course">Home</a></li>
        <li ng-show="currentCourse" ng-class="{'active': $location.url() == '/module'}">
            <a href="#/module">Modules</a>
            <ul ng-repeat="module in currentCourse.modules">
                <li>{{module}}</li>
            </ul>
        </li>
        <li ng-show="currentUser.roles.indexOf('admin') >= 0" ng-class="{'active': $location.url() == '/admin'}"><a href="#/admin">Admin</a></li>
    </ul>
</div>