<br/>
<br/>
<br/>
<div class="container">

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/profile/{{currentUser._id}}">Profile</a></li>
        <li role="presentation"><a href="#/project/{{currentUser._id}}">Project</a></li>
        <li role="presentation" class="active" ng-if="currentUser.roles.indexOf('admin')>-1"><a href="#/users">Users</a></li>
    </ul>

    <h1>Users</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Order</th>
                <th>First</th>
                <th>Last</th>
                <th>Username/Email</th>
                <th>Roles</th>
                <th>Phone</th>
                <th>OpenShift</th>
                <th>GitHub</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td><input ng-model="model.user.order" class="form-control"/></td>
                <td><input ng-model="model.user.firstName" class="form-control"/></td>
                <td><input ng-model="model.user.lastName" class="form-control"/></td>
                <td><input ng-model="model.user.username" class="form-control"/></td>
                <td><input ng-model="model.user.roles" class="form-control"/></td>
                <td><input ng-model="model.user.phone" class="form-control"/></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    <button ng-click="model.createUser(model.user)" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button ng-click="model.updateUserAsAdmin(model.user)" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in model.users | orderBy: 'order'">
                <td>{{user.order}}</td>
                <td>
                    <a href="#/profile/{{user._id}}">
                        {{user.firstName}}
                    </a>
                </td>
                <td>
                    <a href="#/profile/{{user._id}}">
                        {{user.lastName}}
                    </a>
                </td>
                <td>
                    <a href="mailto:{{user.username||user.email}}" class="btn btn-default btn-block">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </td>
                <td>{{user.roles}}</td>
                <td style="white-space: nowrap">
                    <a href="tel:{{user.phone}}" target="_blank" class="btn btn-default">
                        <span class="glyphicon glyphicon-phone-alt"></span>
                    </a>
                    <a href="sms:{{user.phone}}" target="_blank" class="btn btn-default">
                        <span class="glyphicon glyphicon-comment"></span>
                    </a>
                </td>
                <td>
                    <a href="{{user.openShiftUrl}}" target="_blank" class="btn btn-default btn-block">
                        <span class="glyphicon glyphicon-new-window"></span>
                    </a>
                </td>
                <td>
                    <a href="{{user.gitHubUrl}}" target="_blank" class="btn btn-default btn-block">
                        <span class="glyphicon glyphicon-new-window"></span>
                    </a>

                </td>
                <td style="white-space: nowrap">
                    <button ng-click="model.removeUser(user._id)" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button ng-click="model.selectUser($index)" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>