<!DOCTYPE html>
<html lang="en" ng-app="ExpressApp">
<head>
    <link href="../../../css/bootstrap.min.css" rel="stylesheet"/>
    <script src="../../../js/jquery-1.11.3.min.js"></script>
    <script src="../../../js/angular.min.js"></script>
    <meta charset="UTF-8">
    <title>ExpressApp</title>
</head>
<body>
    <div class="container" ng-controller="ExpressController">
        <h1>Creating Data with REST Web API</h1>

        <div class="alert alert-info">
            NOTE: These courses might have been added
            by fellow students. Please keep it clean.
            List of courses will reset to default list
            next time server restarts. To remove courses
            use the
            <a class="btn btn-danger btn-xs" href="delete.html" target="_blank">delete.html example</a>
        </div>

        <h2>All Courses from Server</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Course Title</th>
                    <th>Seats Available</th>
                    <th>Start Date</th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <td><input class="form-control" ng-model="course.title" type="text" placeholder="Java 101"/></td>
                    <td><input class="form-control" ng-model="course.seats" type="number" placeholder="45" min="0"/></td>
                    <td><input class="form-control" ng-model="course.start" type="date"/></td>
                    <td>
                        <button ng-click="add(course)"
                                class="btn btn-success pull-right btn-block">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="course in courses">
                    <td>{{course.title}}</td>
                    <td>{{course.seats}}</td>
                    <td>{{course.start | date}}</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>

        <h3>Form to Post New Course</h3>

        <pre>
&lt;tr&gt;
    &lt;td&gt;&lt;input class=&quot;form-control&quot; ng-model=&quot;course.title&quot; type=&quot;text&quot;/&gt;&lt;/td&gt;
    &lt;td&gt;&lt;input class=&quot;form-control&quot; ng-model=&quot;course.seats&quot; type=&quot;number&quot;/&gt;&lt;/td&gt;
    &lt;td&gt;&lt;input class=&quot;form-control&quot; ng-model=&quot;course.start&quot; type=&quot;date&quot;/&gt;&lt;/td&gt;
    &lt;td&gt;
        &lt;button <b style="color: red;">ng-click=&quot;add(course)&quot;</b>
                class=&quot;btn btn-success pull-right btn-block&quot;&gt;
            &lt;span class=&quot;glyphicon glyphicon-plus&quot;&gt;&lt;/span&gt;
        &lt;/button&gt;
    &lt;/td&gt;
&lt;/tr&gt;</pre>

        <h3>Handling add() Event and Posting to Server</h3>

        <pre>
<b style="color: red;">$scope.add = function(course) {</b>
    <b style="color: blue;">$http.post("/api/course"</b>, course)
        .success(function(response){
            $scope.courses = response;
        });
}</pre>
        <h3>Server</h3>

        <pre>
...
var <b>bodyParser</b> = require('body-parser');
var <b>multer</b>     = require('multer');
...
app.use(bodyParser.json());
app.use(bodyParser.urlencoded({ extended: true }));
app.use(multer());

<b style="color: blue;">app.post('/api/course'</b>, function (req, res) {
    var newCourse = req.body;
    console.log(newCourse);
    courses.push(newCourse);
    res.json(courses);
});</pre>

        <h2>Retrieving all the Courses from Server on Page Load</h2>

        <h3>AngularJS Controller Client</h3>

        <pre>
$scope.courses = {};
<b style="color: green;">$http.get("/api/course")</b>
    .success(function(response){
        $scope.courses = response;
    });</pre>

        <h3>Node.js Web Service</h3>

        <pre>
var courses = [
    {title: 'Java 101', seats: 12, start: new Date()},
    {title: 'C# 101', seats: 12, start: new Date()},
    {title: 'ASP.NET 101', seats: 12, start: new Date()},
    {title: 'Node.js 101', seats: 12, start: new Date()},
    {title: 'AngularJS 101', seats: 12, start: new Date()},
];
<b style="color: green;">app.get('/api/course'</b>, function (req, res) {
    res.json(courses);
});</pre>


    </div>
    <script>
        angular
            .module("ExpressApp", [])
            .controller("ExpressController", ExpressController);

        function ExpressController($scope, $http) {
            $scope.courses = {};
            $http.get("/api/course")
                .success(function(response){
                    $scope.courses = response;
                });
            $scope.add = function(course) {
                $http.post("/api/course", course)
                    .success(function(response){
                        $scope.courses = response;
                    });
            }
        }
    </script>
</body>
</html>