<div class="display">
    <div>
        <div class="table borderless">
            <div ng-repeat="cell in model.sheet.cells"
                ng-class="{'active': $index==model.functionCellIndex}">
                <div ng-if="cell.visible==true && cell.editable == true && cell.cellStyle != 'textarea'">
                    <input ng-model="cell.literal"
                           ng-readonly="false"
                           tabindex="{{$index}}"
                           class="form-control"/>
                </div>

                <div ng-if="cell.visible==true && cell.editable == false">
                    <textarea ng-model="cell.literal"/>
                </div>

                <div ng-if="cell.visible==true && cell.editable == false && cell.cellStyle != 'textarea'">
                    <input ng-model="cell.literal"
                           id={{cell.cellStyle}}
                           ng-readonly="true"
                           tabindex="{{$index}}"
                           class="form-control "/>
                </div>
            </div>
        </div>
    </div>
</div>