.collapsable::after {
    content: "<a style='position:absolute;top:0px;right:0px'>toggle</a>"
}

a {
    cursor: pointer;
}

.jga-table th {
    text-transform: capitalize;
}

p {
    text-align: justify;
}

.jga-movie-panel {
    float: left;
    width: 130px;
    margin-right: 15px;
}

.jga-movie-panel .panel-heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jga-slide {

}