#h1{
    display: block;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    height:auto;
}
#h2{
    display: block;
    font-size: 1.5em;
    margin-before: 0.83em;
    margin-after: 0.83em;
    margin-start: 0;
    margin-end: 0;
    font-weight: bold;
    height:auto;
}
#h3 {
    display: block;
    font-size: 1.17em;
    margin-before: 1em;
    margin-after: 1em;
    margin-start: 0;
    margin-end: 0;
    font-weight: bold;
    height:auto;
}
#p {
    display: block;
    margin-before: 1em;
    margin-after: 1em;
    margin-start: 0;
    margin-end: 0;
}

.top {
    margin-top: 20px !important;
}