<h2>Page Details</h2>

<h3>{{model.page.label}}</h3>
<h3>{{model.page.title}}</h3>

<table class="table">
    <tr ng-repeat="content in model.page.content" class="table ">
        <td>
            <h1 ng-if="content.contentType=='HEADING' && content.heading.size=='1'">
                {{content.heading.content}}
            </h1>
            <h2 ng-if="content.contentType=='HEADING' && content.heading.size=='2'">
                {{content.heading.content}}
            </h2>
            <h3 ng-if="content.contentType=='HEADING' && content.heading.size=='3'">
                {{content.heading.content}}
            </h3>
            <label ng-if="content.contentType=='LABEL'">
                {{content.label.content}}
            </label>
            <p  ng-if="content.contentType=='PARAGRAPH'">
                {{content.paragraph.content}}
            </p>
            <ul ng-if="content.contentType=='LIST' && content.list.listType == 'UNORDERED'">
                <li ng-repeat="item in content.list.items">
                    {{item}}
                </li>
            </ul>
            <ol ng-if="content.contentType=='LIST' && content.list.listType == 'ORDERED'">
                <li ng-repeat="item in content.list.items">
                    {{item}}
                </li>
            </ol>
            <button class="btn btn-primary" ng-if="content.contentType=='BUTTON'">
                {{content.button.label}}
            </button>
            <div ng-if="content.contentType=='TEXTAREA'">
                <div>
                    <label>{{content.textarea.label}}</label>
                </div>
                <input type="TEXTAREA" placeholder="{{content.textarea.value}}" class="input-width" />
            </div>
            <div ng-if="content.contentType=='FORM'">
                {{content.form.title}}

                <div ng-repeat = "field in content.form.fields">
                    <ng-switch on="field.field" ng-model="field.field">
                        <div ng-switch-when="TEXT">
                            <div>
                                <label>{{field.label}}</label>
                            </div>
                            <input type="TEXT" placeholder="{{field.placeholder}}" class="input-width" />
                        </div>
                        <div ng-switch-when="DATE">
                            <div>
                                <label>{{field.label}}</label>
                            </div>
                            <input type="date" placeholder="Select Date" class="input-width" />
                         </div>
                        <div ng-switch-when="TEXTAREA">
                            <div>
                                <label>{{field.label}}</label>
                            </div>
                            <textarea placeholder="{{field.placeholder}}" class="input-width"></textarea>
                        </div>
                        <div ng-switch-when="SELECT">
                            <div>
                                <label>{{field.label}}</label>
                            </div>
                            <select class="input-width">
                                <option>Select an option</option>
                                <option value="{{option.value}}" ng-repeat="option in field.options">{{option.label}}
                                </option>
                            </select>
                        </div>
                        <div ng-switch-when="CHECKBOX">
                            <div>
                                <label>{{field.label}}</label>
                            </div>
                            <div>
                                <div class="checkbox" ng-repeat="option in field.options">
                                    <label>
                                        <input type="checkbox" name="{{field.labrl}}+{{field.id}}">{{option.label}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-when="RADIO">
                            <div>
                                <label>{{field.label}}</label>
                            </div>
                            <div class="radiobutton" ng-repeat="option in field.options">
                                <label>
                                    <input type="radio" name="{{field.labrl}}+{{field.id}}"> {{option.label}}
                                </label>
                            </div>
                        </div>
                        <div ng-switch-when="BUTTON">
                            <div>
                                <label>{{field.label}}</label>
                            </div>
                            <button class="btn btn-primary">
                                <span>{{field.label}}</span>
                            </button>
                        </div>



                    </ng-switch>
                </div>



            </div>
        </td>
        <td>

            <button ng-click="model.removeContent(content)" class="pull-right btn btn-danger space">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <a href="#/page/{{model.page._id}}/details/{{$index}}" class="pull-right btn btn-warning space">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>

        </td>
    </tr>
    <tr>
        <td >
            <select ng-model="model.contentType" class="form-control top">
                <option value="">- Please Choose a Content Type -</option>
                <option ng-value="HEADING">HEADING</option>
                <option ng-value="LABEL">LABEL</option>
                <option ng-value="PARAGRAPH">PARAGRAPH</option>
                <option ng-value="LIST">LIST</option>
                <option ng-value="BUTTON">BUTTON</option>
                <option ng-value="TEXTAREA">TEXTAREA</option>
                <option ng-value="FORM">FORM</option>


            </select>
        </td>
        <td>
            <button ng-click="model.addContent(model.contentType)" class="top pull-right btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </td>
    </tr>
</table>

{{model.page}}