<h2>Page List</h2>

<table class="table">
    <tr>
        <td>
            <input ng-model="model.page.label" class="form-control" placeholder="Page Name"/>
        </td>
        <td>
            <button ng-click="model.addPage(model.page)" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </td>
    </tr>
    <tr ng-repeat="page in model.pages">
        <td>
            <a href="#/page/{{page._id}}/details">{{page.label}}</a>
            <button ng-click="" type="button" class="btn btn-xs btn-default pull-right" style="margin-left: 10px;">
                <span class="glyphicon glyphicon-sort"/>
            </button>
            <button ng-click="model.deletePage(page)" type="button" class="btn btn-xs btn-danger pull-right" style="margin-left: 10px;">
                <span class="glyphicon glyphicon-remove"/>
            </button>
            <button ng-click="model.updatePageLabel(page)" type="button" class="btn btn-xs btn-warning pull-right">
                <span class="glyphicon glyphicon-pencil"/>
            </button>
        </td>
    </tr>
</table>
