<h2>Page List</h2>

<table class="table">
    <tr>
        <td>
            <input id="label" ng-model="model.page.label" class="form-control" placeholder="{{label}}"/>
        </td>
        <td>
            <button ng-click="model.addPage(model.page)" class="btn btn-success pull-right space">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button ng-click="model.editPage()" class="btn btn-warning pull-right space">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </td>
    </tr>
    <tr ng-repeat="page in model.pages track by $index">
        <td>

            <a href="#/page/{{page._id}}/details">{{page.label}}</a>

        </td>
        <td>
            <button ng-show="editMode" ng-click="model.sortPageDown($index)" type="button" class="btn btn-xs btn-default pull-right space">
                <span class="glyphicon glyphicon-arrow-down"/>
            </button>
            <button  ng-show="editMode" ng-click="model.sortPageUp($index)" type="button" class="btn btn-xs btn-default pull-right space">
                <span class="glyphicon glyphicon-arrow-up"/>
            </button>
            <a  ng-show="editMode" href="#/page/{{page._id}}/preview">
                <button type="button" class="btn btn-xs btn-info pull-right space">
                    <span class="glyphicon glyphicon-share"></span>
                </button>
            </a>

            <a  ng-show="editMode" href="#/page/{{page._id}}/newpage">
                 <button type="button" class="btn btn-xs btn-warning pull-right space">
                 <span class="glyphicon glyphicon-pencil"></span>
               </button>
            </a>

        </td>
    </tr>
</table>
