<h1>Search Movie</h1>

<input class="form-control" ng-model="title" placeholder="Movie Title"/>
<button ng-click="model.search(title)" class="btn btn-primary btn-block">Search</button>

<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                <a href="#/details/tt0111946">
                    Dumb and Dumber
                </a>
            </td>
            <td>
                <button class="pull-right btn btn-info" ng-click="model.like('tt0111946')">
                    <span class="glyphicon-star-empty glyphicon">
                    </span>
                </button>
            </td>
        </tr>
        <tr ng-repeat="movie in model.results">
            <td>
                <a href="#/details/{{movie.idIMDB}}">
                    {{movie.title}}
                </a>
            </td>
            <td>
                <button class="btn btn-info" ng-click="model.like(movie)">
                    <span class="glyphicon-star-empty glyphicon">
                    </span>
                </button>
            </td>
        </tr>
    </tbody>
</table>