



  
      
    <h1>{{controller.selectedModule.title}}</h1>
    
    <ul class="nav nav-tabs">
      <li ng-class="{'active' : controller.selectedTabName == 'overview'}">
        <a href="#/modules/{{controller.selectedModuleIndex}}">Overview</a>
      </li>
      <li ng-class="{'active' : controller.selectedTabName == 'map'}">
        <a href="#/modules/{{controller.selectedModuleIndex}}/map">Course Map</a>
      </li>
      <li ng-class="{'active' : controller.selectedTabName == tab.title}"
          ng-repeat="tab in controller.tabs" style="text-transform: capitalize">
        <a href="#/modules/{{controller.selectedModuleIndex}}/{{tab.title}}">{{tab.title | underscore2space}}</a>
      </li>
    </ul>
    
    <br/>

    <ul class="nav nav-pills" ng-hide="controller.selectedTabName.indexOf('_examples') > -1">
      <li ng-class="{'active' : controller.selectedPillIndex == $index}"
          ng-repeat="pill in controller.selectedTabPills" style="text-transform: capitalize">
        <a href="#/modules/{{controller.selectedModuleIndex}}/{{controller.selectedTabName}}/{{$index}}">{{pill.title | underscore2space}}</a>
      </li>
    </ul>

    <div class="dropdown" ng-show="controller.selectedTabName.indexOf('_examples') > -1">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select {{controller.selectedTabName | underscore2space}} Example
            <span class="caret"></span>
        </button> <!-- TLSP - 2079 -->
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-class="{'active' : controller.selectedPillIndex == $index}"
                ng-repeat="pill in controller.selectedTabPills" style="text-transform: capitalize">
                <a href="#/modules/{{controller.selectedModuleIndex}}/{{controller.selectedTabName}}/{{$index}}">{{pill.title | underscore2space}}</a>
            </li>
        </ul>
    </div>

    <ng-include src="controller.page"/>

  
  
