



  
      
    <h1>{{controller.selectedModule.title}}</h1>
    
    <ul class="nav nav-tabs">
      <li ng-class="{'active' : controller.selectedTabName == 'overview'}">
        <a href="#/modules/{{controller.selectedModuleIndex}}">Overview</a>
      </li>
      <li ng-class="{'active' : controller.selectedTabName == tab.title}"
          ng-repeat="tab in controller.tabs" style="text-transform: capitalize">
        <a href="#/modules/{{controller.selectedModuleIndex}}/{{tab.title}}">{{tab.title}}</a>
      </li>
    </ul>
    
    <br/>
    
    <ul class="nav nav-pills">
      <li ng-class="{'active' : controller.selectedPillIndex == $index}"
          ng-repeat="pill in controller.selectedTabPills" style="text-transform: capitalize">
        <a href="#/modules/{{controller.selectedModuleIndex}}/{{controller.selectedTabName}}/{{$index}}">{{pill.title}}</a>
      </li>
    </ul>

    <ng-include src="controller.page"/>

  
  
