<div class="ngdialog-message">
<h4 class="ngdialog-header">Choose a name for {{model.addingType}}:</h4>
    <input class="form-control" type="text" placeholder="{{model.addingType}} number" ng-model="model.number" />
    <input class="form-control" type="text" placeholder="{{model.addingType}} title" ng-model="model.title" />
</div>
<div class="ngdialog-buttons" style="padding-top:20px;">
    <button type="button" class="ngdialog-button ngdialog-button-secondary"  ng-click=closeThisDialog("Cancel")>Cancel</button>
    <button ng-disabled="!(model.number && model.title)" type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm(model)>Confirm</button>
</div>