<div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">Courses</h1>

    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="course in model.courses">
            <div class="thumbnail">
                <div class="caption">
                    <h2 align="center">{{course.number}}</h2>
                    <h4 align="center">{{course.title}}</h4>
                    <p align="center"><a ng-click="model.viewCourse($index)" class="btn btn-primary" role="button"><i class="fa fa-book"></i> View Course</a></p>
                </div>
            </div>
        </div>
    </div>
</div>