<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Admin</h1>

    <!--Courses-->
    <div class="panel panel-default">
        <div class="panel-heading"><b><u>Courses</u></b></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Course Number</th>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Title</th>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Location</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input ng-model="model.selectedCourse.number" class="form-control" placeholder="course number"/></td>
                <td><input ng-model="model.selectedCourse.title" class="form-control" placeholder="title"/></td>
                <td><input ng-model="model.selectedCourse.location" class="form-control" placeholder="location"/></td>
                <td>
                    <a ng-click="model.addCourse()"><span class="glyphicon glyphicon-plus"></span></a>&emsp;
                    <a ng-click="model.updateCourse()"><span class="glyphicon glyphicon-ok"></span></a>
                </td>
            </tr>
            <tr ng-repeat="course in model.courses">
                <td>{{course.number}}</td>
                <td>{{course.title}}</td>
                <td>{{course.location}}</td>
                <td>
                    <a ng-click="model.deleteCourse($index)"><span class="glyphicon glyphicon-remove"></span></a>&emsp;
                    <a ng-click="model.selectCourse($index)"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr/>

    <!--Users-->
    <div class="panel panel-default">
        <div class="panel-heading"><b><u>Users</u></b></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Username</th>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Name</th>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Email</th>
                <th><span class="glyphicon glyphicon-triangle-bottom">&nbsp;</span>Roles</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in model.users">
                <td>{{user.username}}</td>
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roles.join(', ')}}</td>
                <td>
                    <a class="btn btn-primary" ng-hide="user.roles.indexOf('admin') >= 0" ng-click="model.makeAdmin($index)"><i class="fa fa-adn"></i> Make Admin</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>