<div ng-switch on="model.element">

    <!--module-->

    <div class="ngdialog-message" ng-switch-when="module">
        <h4><u>{{model.element}} details</u> | <small>add</small></h4>
        <input class="form-control" type="text" placeholder="{{model.element}} title" ng-model="model.title" />
        <input class="form-control" type="text" placeholder="{{model.element}} description" ng-model="model.description" />
    </div>
    <div class="ngdialog-buttons" style="padding-top:20px;" ng-switch-when="module">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog("Cancel")>Cancel</button>
        <button ng-disabled="!(model.title && model.description)" type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm(model)>Confirm</button>
    </div>

    <!--lecture-->

    <div class="ngdialog-message" ng-switch-when="lecture">
        <h4><u>{{model.element}} details</u> | <small>add</small></h4>
        <input class="form-control" type="text" placeholder="{{model.element}} title" ng-model="model.title" />
        <textarea ui-tinymce="model.tinymceOptions" ng-model="model.overview"></textarea>
    </div>
    <div class="ngdialog-buttons" style="padding-top:20px;" ng-switch-when="lecture">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog("Cancel")>Cancel</button>
        <button ng-disabled="!(model.title && model.overview)" type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm(model)>Confirm</button>
    </div>

    <!--learning element-->

    <div class="ngdialog-message" ng-switch-when="learning element">
        <h4><u>{{model.element}} details</u> | <small>add</small></h4>
        <input class="form-control" type="text" placeholder="{{model.element}} title" ng-model="model.title" />
        <select class="form-control" ng-model="model.type">
            <option value="PDF">PDF Document</option>
            <option value="VIDEO">Video</option>
            <option value="SLIDE">Slides</option>
            <option value="LINK">Link</option>
            <option value="HTML">HTML</option>
            <option value="IFRAME">iFrame</option>
        </select>
        <input class="form-control" type="text" placeholder="{{model.element}} src" ng-model="model.src" />
    </div>
    <div class="ngdialog-buttons" style="padding-top:20px;" ng-switch-when="learning element">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog("Cancel")>Cancel</button>
        <button ng-disabled="!(model.title && model.type && model.src)" type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm(model)>Confirm</button>
    </div>

    <!--assignment-->

    <div class="ngdialog-message" ng-switch-when="assignment">
        <h4><u>{{model.element}} details</u> | <small>add</small></h4>
        <input class="form-control" type="text" placeholder="{{model.element}} title" ng-model="model.title" />
        <input class="form-control" type="text" placeholder="{{model.element}} src" ng-model="model.src" />
    </div>
    <div class="ngdialog-buttons" style="padding-top:20px;" ng-switch-when="assignment">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog("Cancel")>Cancel</button>
        <button ng-disabled="!(model.title && model.src)" type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm(model)>Confirm</button>
    </div>

    <!--example-->

    <div class="ngdialog-message" ng-switch-when="example">
        <h4><u>{{model.element}} details</u> | <small>add</small></h4>
        <input class="form-control" type="text" placeholder="{{model.element}} title" ng-model="model.title" />
    </div>
    <div class="ngdialog-buttons" style="padding-top:20px;" ng-switch-when="example">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog("Cancel")>Cancel</button>
        <button ng-disabled="!(model.title)" type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm(model)>Confirm</button>
    </div>

</div>
