<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">{{model.course.title}} | <small>Module #{{currentModule.number}} - {{currentModule.title}}</small></h1>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/course/{{model.course.number}}/module/{{currentModule.number}}">
            <span class="glyphicon glyphicon-globe"></span> Overview</a>
        </li>
        <li role="presentation" class="active"><a>
            <span class="glyphicon glyphicon-facetime-video"></span> Lectures</a>
        </li>
        <li role="presentation"><a href="#/course/{{model.course.number}}/module/{{currentModule.number}}/example">
            <span class="glyphicon glyphicon-play-circle"></span> Examples</a>
        </li>
        <li role="presentation"><a href="#/course/{{model.course.number}}/module/{{currentModule.number}}/assignment">
            <span class="glyphicon glyphicon-paperclip"></span> Assignments</a>
        </li>
    </ul>

    <br>
    <h3 class="page-header">Lecture</h3>

    <ul class="nav nav-pills">
        <li role="presentation" ng-class="{'active': $location.url() == '/course/' + model.course.number + '/module/' + currentModule.number + '/lecture/' + lecture.number}" ng-repeat="lecture in currentModule.lectures">
            <a ng-click="model.viewLecture($index)">{{lecture.title}}</a>
        </li>
    </ul>

    <br>

    <div class="panel panel-primary" ng-show="model.lecture">
        <div class="panel-heading">
            <h3 class="panel-title">{{model.lecture.number}} | {{model.lecture.title}}</h3>
        </div>
        <div class="panel-body" ng-bind-html="model.renderHtml(model.lecture.overview)"></div>
    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-repeat="learningElement in model.lecture.learningElements">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{learningElement.title}}
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body" ng-switch on="learningElement.type">
                    <iframe ng-switch-when="VIDEO" src="{{learningElement.src | trustUrl}}" width="100%" height="486" frameborder="0" allowfullscreen></iframe>
                    {{learningElement.height}}<br>
                    {{learningElement.width}}<br>
                    {{learningElement.html}}
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="list-group">
        <div class="list-group-item" ng-repeat="lecture in currentModule.lectures">
            <table style="width: 100%">
                <tr>
                    <td><h3 class="list-group-item-heading"><a ng-click="model.viewLecture($index)">{{lecture.title}}</a></h3></td>
                    <td align="right">
                        <a ng-click="model.editLecture($index)"><span class="glyphicon glyphicon-edit"></span></a>&emsp;
                        <a ng-click="model.deleteLecture($index)"><span class="glyphicon glyphicon-remove-circle"></span></a>
                    </td>
                </tr>
                <tr><td colspan="2" class="list-group-item-text" ng-bind-html="model.renderHtml(lecture.overview)"></td></tr>
                <tr ng-repeat="learningElement in lecture.learningElements">
                    <td colspan="2" class="list-group-item-text"><a ng-click="model.deleteLearningElement($index, lecture)"><span class="glyphicon glyphicon-remove-circle"></span></a>&emsp;{{learningElement.title}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="list-group-item-text">
                        <span class="glyphicon glyphicon-plus-sign"></span>&emsp;<a ng-click="model.addLearningElement(lecture)">New Learning Element</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div align="right">
        <a ng-click="model.addLecture()"><span class="glyphicon glyphicon-plus"></span></a>
    </div>

</div>