<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">{{model.course.title}} | <small>Modules</small></h1>

    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
            <!--<div class="input-group">-->
                <!--<input ng-model="search" type="text" class="form-control" placeholder="Please enter only the module number...">-->
                <!--<span class="input-group-btn">-->
                    <!--<button ng-click="model.searchModule()" class="btn btn-default" type="button">Go!</button>-->
                <!--</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="list-group" ng-show="model.moduleSearchResult">-->
        <!--<div class="list-group-item">-->
            <!--<table style="width: 100%">-->
                <!--<tr>-->
                    <!--<td><h3 class="list-group-item-heading">Module {{model.moduleSearchResult}}</h3></td>-->
                <!--</tr>-->
                <!--<tr><td colspan="2" class="list-group-item-text">Description {{model.moduleSearchResult}}</td></tr>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->

    <!--<br>-->

    <div class="list-group">
        <div class="list-group-item" ng-repeat="module in model.course.modules">
            <table style="width: 100%">
                <tr>
                    <td><h3 class="list-group-item-heading"><a ng-click="model.viewModule($index)">{{module.title}}</a></h3></td>
                    <td align="right">
                        <a ng-click="model.editModule($index)"><span class="glyphicon glyphicon-edit"></span></a>&emsp;
                        <a ng-click="model.deleteModule($index)"><span class="glyphicon glyphicon-remove-circle"></span></a>
                    </td>
                </tr>
                <tr><td colspan="2" class="list-group-item-text">{{module.description}}</td></tr>
            </table>
        </div>
    </div>
    <div align="right" ng-show="model.course">
        <a ng-click="model.addModule()"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>