<div class="ngdialog-message">
<h4>Choose a name for {{model.addingType}}:</h4>
    <input class="form-control" type="text" placeholder="{{model.addingType}} title" ng-model="model.currentModule.title" />
    <input class="form-control" type="text" placeholder="{{model.addingType}} description" ng-model="model.currentModule.description" />
</div>
<div class="ngdialog-buttons" style="padding-top:20px;">
    <button type="button" class="ngdialog-button ngdialog-button-secondary"  ng-click=closeThisDialog("Cancel")>Cancel</button>
    <button ng-disabled="!model.currentModule.title" type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm(model.currentModule)>Update</button>
</div>