<html ng-app="WhiteBoardApp">
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="config.js"></script>
    <script src="navController.js"></script>
    <script src="profile.js"></script>
    <script src="userService.js"></script>
  </head>
  <body>
    <div class="container">
      
      <br/>
      <ul class="nav nav-tabs" ng-controller="NavController">
        <li ng-class="{'active': selectedTab == 'home'}">   <a ng-click="selectedTab = 'home'"    href="#/home">Home</a></li>
        <li ng-class="{'active': selectedTab == 'profile'}"><a ng-click="selectedTab = 'profile'" href="#/profile">Profile</a></li>
        <li ng-class="{'active': selectedTab == 'users'}">  <a ng-click="selectedTab = 'users'"   href="#/users">Users</a></li>
      </ul>
      
      <div ng-view>
      </div>
      
    </div>
  </body>
</html>