<br/>
<br/>
<br/>
<div class="container">

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#/profile/{{currentUser._id}}">Profile</a></li>
        <li role="presentation"><a href="#/project/{{currentUser._id}}">Project</a></li>
        <li role="presentation" ng-if="currentUser.roles.indexOf('admin')>-1"><a href="#/users">Users</a></li>
    </ul>

    <h1>Profile</h1>

    <form style="margin-bottom: 10px;margin-top:10px">
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email" readonly type="email" class="form-control input-lg" id="email" placeholder="Email">
        </div>
        <div ng-if="model.user._id == currentUser._id || currentUser.roles.indexOf('admin')>-1">
            <div class="form-group">
                <label for="password">Password</label>
                <input ng-model="model.changePassword" type="password" class="form-control input-lg" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="password">Verify Password</label>
                <input ng-model="model.changePassword2" type="password" class="form-control input-lg" id="verify-password" placeholder="Verify Password">
            </div>
            <div class="form-group">
                <label for="openShiftUrl">OpenShift URL <a href="{{model.user.openShiftUrl}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></label>
                <input ng-model="model.user.openShiftUrl" class="form-control input-lg" id="openShiftUrl" placeholder="OpenShift URL">
            </div>
            <div class="form-group">
                <label for="gitHubUrl">GitHub URL <a href="{{model.user.gitHubUrl}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a></label>
                <input ng-model="model.user.gitHubUrl" class="form-control input-lg" id="gitHubUrl" placeholder="GitHub URL">
            </div>
            <div class="form-group">
                <label for="phone">Phone
                    <a href="tel:{{model.user.phone}}" class="btn btn-default"><span class="glyphicon glyphicon-phone-alt"></span></a>
                    <a href="sms:{{model.user.phone}}" class="btn btn-default"><span class="glyphicon glyphicon-comment"></span></a>
                </label>
                <input ng-model="model.user.phone" class="form-control input-lg" id="phone" placeholder="Phone Number">
            </div>
            <button ng-click="model.updateUser(model.user)" class="btn btn-success btn-block btn-lg">Update</button>
        </div>
    </form>
</div>
